.logo-container-login {
  top: 0;
  display: flex;
  justify-content: center;
}

.logo-login {
  margin: 40px;
  height: 20%;
  width: 20%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
}

input[type="submit"] {
  padding: 0.5rem;
  font-size: 1.1rem;
  min-width: 10rem;
  border-radius: 20px;
  border: 0;
  color: var(--color-ash-grey);
  background: rgba(61, 61, 61, 1);
  background: linear-gradient(
    to right,
    rgba(61, 61, 61, 1) 0%,
    rgba(219, 15, 0, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-width: 260px;
  padding: 40px;
  margin: 3rem;
  border: solid 1px gray;
  border-radius: 40px;
  padding: 3rem;
  color: var(--color-ash-grey);
}

#password, #username{
  border-radius: 20px;
  min-width: 160px;
}

.boton{
  margin-top: 30px
}

.login-olvidado{
  color: var(--color-ash-grey);
}