/* ~Tablet */
/* @media all and (min-width:480px) {
    nav {
      float: left;
      width: 30vw;
      height: 800px;
      margin-top: 200px;
    }
  
    main {
      float: right;
      width: 70vw;
    }
  
    footer {
      clear: both;
    }
  }
   */
/* ~Desktop */
/* @media all and (min-width:991px) {
    body {
      max-width: 900px;
      margin: 0 auto;
    }
  
    nav {
      width: 30%;
    }
  
    main {
      width: 70%;
    }
  } */

/* @media all and (max-width: 1024px) {
  ...;
}
@media all and (max-width: 839px) {
  ...;
} */

@media all and (max-width: 480px) {
    /* .navbar .logo{
        position: fixed;
        width: 50%;
        text-align: center;
    } */
    /* .navbar{
        width: 40%;
    } */
    .navbar-list{
        flex-direction: column;
        margin-top: 50px;
        height: 100vh;
        top:0;
        /* justify-content: flex-start; */
        /* background-color: var(--color-outer-space): */
    }
}
